Repository Konetic-AI/tdd-builder-mpkf, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, typescript, javascript, tests, ci, dependencies, configuration, scripts, templates, schema, src, handlers, examples, feature:validation, feature:schema, feature:cli, feature:generation, feature:routing, feature:rules

.github/labeler.yml:

# Auto-labeling configuration for PRs
# Labels are automatically added based on changed files

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# TypeScript/JavaScript changes
typescript:
  - changed-files:
    - any-glob-to-any-file: ['**/*.ts', '**/*.tsx']

javascript:
  - changed-files:
    - any-glob-to-any-file: ['**/*.js', '**/*.jsx']

# Testing
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.test.{js,ts}', '**/*.spec.{js,ts}', 'tests/**/*']

# CI/CD
ci:
  - changed-files:
    - any-glob-to-any-file: ['.github/workflows/**/*', '.github/actions/**/*']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json', 'npm-shrinkwrap.json']

# Configuration
configuration:
  - changed-files:
    - any-glob-to-any-file: ['*.config.js', '*.config.ts', 'tsconfig.json', 'jest.config.js']

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file: ['scripts/**/*']

# Templates
templates:
  - changed-files:
    - any-glob-to-any-file: ['templates/**/*']

# Schema
schema:
  - changed-files:
    - any-glob-to-any-file: ['schemas/**/*']

# Source code
src:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*']

# Handlers
handlers:
  - changed-files:
    - any-glob-to-any-file: ['handlers/**/*']

# Examples
examples:
  - changed-files:
    - any-glob-to-any-file: ['examples/**/*']

# Features by area
feature:validation:
  - changed-files:
    - any-glob-to-any-file: ['src/validation/**/*', 'src/lib/validateAnswer.*']

feature:schema:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/schemaLoader.*', 'schemas/**/*']

feature:cli:
  - changed-files:
    - any-glob-to-any-file: ['cli.js', 'src/lib/reviewScreen.*']

feature:generation:
  - changed-files:
    - any-glob-to-any-file: ['handlers/generate_tdd.js', 'src/handlers/generateTdd.*']

feature:routing:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/tagRouter.*']

feature:rules:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/rulesEngine.*']

# Breaking changes (based on major version bump or breaking commit messages)
breaking-change:
  - changed-files:
    - any-glob-to-any-file: ['package.json']
    - head-branch: ['^breaking/', '^major/']

docs: add comprehensive automation guide
  AUTOMATION_GUIDE.md
Labels: documentation

docs: add deployment summary and completion report
  DEPLOYMENT_SUMMARY.md
Labels: documentation

docs: add CI troubleshooting section
  CONTEXT.md
  README.md
Labels: documentation

fix(pdf): safe export path + optional puppeteer
  tests/pdf_export.test.js
  utils/pdfExporter.js
Labels: javascript, tests

chore(deps): add luxon for robust ISO-8601 date parsing
  package-lock.json
  package.json
Labels: dependencies

feat(validation): luxon ISO date parsing
  src/validation/date.js
  src/validation/date.test.js
Labels: javascript, tests, src, feature:validation

fix(cli): invalid complexity message + legacy map
  cli.js
Labels: javascript, feature:cli

fix(paths): mkdir -p and tmp paths in tests
  tests/cli.e2e.test.js
Labels: javascript, tests

chore(ci): build TS before tests + env defaults + codecov
  .github/workflows/ci.yml
Labels: ci

feat(validation): use luxon for robust ISO-8601 date parsing
  src/lib/validateAnswer.ts
  src/validation/iso.test.ts
  src/validation/iso.ts
Labels: typescript, tests, src, feature:validation

fix(pdf): safe export path and optional puppeteer fallback
  tests/pdf_export.test.js
  utils/pdfExporter.js
Labels: javascript, tests

fix(cli): guard telemetry usage to avoid ReferenceError
  cli.js
Labels: javascript, feature:cli

fix(cli): invalid complexity message + legacy map
  cli.js
  tests/cli.e2e.test.js
Labels: javascript, tests, feature:cli

fix(paths): mkdir -p and tmp paths in tests
  tests/pdf_export.test.js
Labels: javascript, tests

chore(ci): build TS before tests + env defaults + resilient codecov + unique artifact names
  .github/workflows/ci.yml
Labels: ci

docs(ci): add troubleshooting & env notes
  README.md
Labels: documentation

fix(cli): telemetry variable scope in error handler
  cli.js
Labels: javascript, feature:cli

fix(ci): make build/test green (validation, pdf fallback, cli errors, leaks, ci.yml)
  .github/workflows/ci.yml
  .husky/pre-push
  cli.js
  tests/audit-minimal.test.js
  tests/generateAuditReports.test.js
  tests/simple.test.js
  utils/pdfExporter.js
Labels: javascript, tests, ci, feature:cli

chore: quick sync (commit+push+ci+replit)
  .patches/01-date-validation.patch
  .patches/02-pdf-exporter-warn-once.patch
  .patches/03-cli-error-messages.patch
  .patches/04-remove-empty-tests.patch
  .patches/05-fix-audit-test-mock.patch
  .patches/06-ci-unique-artifacts.patch
  .patches/07-codecov-clarify.patch
  .patches/08-pre-push-hook.patch
  src/validation/date.ts
Labels: typescript, src, feature:validation
